.App {
  text-align: center;
}

.App-header a {
  color: #fff;
  text-decoration: none
}

.App-header {
  background-color: #282c34;
  min-height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}
.App-header a {
  margin-right: 20px;
}

.App-header .active {
  color: #61dafb;
}

.content {
  margin-top: 30px;
  display: flex; 
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #282c34;
  height: 300px;
  width: 500px;
  font-size: 20px;
  border-radius: 15px;
}

form input {
  width: 350px;
  height: 30px;
  font-size: 20px;
}

form select {
  width: 350px;
  height: 30px;
  font-size: 20px;
}

form p {
  color: #fff;
}

form button {
  width: 150px;
  height: 30px;
 font-size: 20px;
 }

.list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: #282c34;
  color: #fff;
  border-radius: 15px;
}

.list p {
  border-bottom: 2px solid #fff
}